#main-page-tabs
  = link_to t("view.profile.tab.personal"), profile_path(current_user.profile), :class => (controller_name == "profiles" ? "selected" : "")
  = link_to t("view.profile.tab.cupons"), coupons_path, :class => (controller_name == "coupons" ? "selected" : "")
  = link_to t("view.profile.tab.friends"), friends_path, :class => (controller_name == "friends" ? "selected" : "")
%br/
%br/
