<fieldset id="order_details">
  <div class="clear"></div>
  <legend><%= t("confirm") %></legend>
  <%= render :partial => 'shared/order_details', :locals => {:order => @order} %>
</fieldset>

<hr />

<input type="submit" class=" button3 white continue" value="Оформить"/>
<hr />
