= render 'profiles/top_menu'
%h2
  =t("change_password")

= form_for :user, :url=>"/update_password", :method=>:post, :html=>{:class=>"change_password"} do |f|
  %p
    %label 
      = t("old_password")
    %br/
    =f.password_field :old_password
  %p
    %label 
      =t("new_password")
    %br/
    =f.password_field :password
    
  = f.submit t("submits.save")
  =link_to t("back"), profile_path(current_user.profile)
%br/
%br/



:css
  .change_password input[type=password] {
    border: #ccc solid 1px;
    font-size:14px;
    padding: 5px;
    color: #666;
  }
  
  .change_password label {
    font-size:14px;
  }

