%table
  %tr
    %td.conditions-wrapper
      %h2=t('conditions')
      %ul
        - @product.conditions.each do |condition|
          %li
            =condition.desc
    %td.conditions-wrapper
      %h2=t('features')
      %ul
        - @product.features.each do |feature|
          %li
            =feature.desc  

